<app-main-map
  id="map"
  [isDataLoaded]="isDataLoaded"
  [currentTime]="currentTime"
  [bounds]="mapBounds"
  [style]="mapStyle">
</app-main-map>

<ng-container *ngIf="isDataLoaded">

  <app-info-panel
    [isDataLoaded]="isDataLoaded"
    [images]="images"
    [envData]="envData"
    [travelData]="travelData"
    (imageSelected)="previewImage = $event">
  </app-info-panel>

  <app-top-bar
    [(isPlayback)]="isPlayback"
    (isPlaybackChange)="this.onPlaybackToggle()"
    [(playbackRate)]="playbackRate"
    [(currentTime)]="currentTime"
    (currentTimeChange)="this.onTimeChange(currentTime.getTime())"
    [startTime]="startTime"
    [endTime]="endTime"
    [charts]="charts">
  </app-top-bar>

  <app-image-preview
    *ngIf="previewImage"
    [image]="previewImage"
    (close)="previewImage = undefined">
  </app-image-preview>

  <mat-card class="options-card">
    <mat-form-field (click)="$event.stopPropagation()">
      <mat-label>Map style</mat-label>
      <mat-select [(value)]="mapStyle">
        <mat-option [value]="'light'">Light</mat-option>
        <mat-option [value]="'dark'">Dark</mat-option>
        <mat-option [value]="'satellite'">Satellite</mat-option>
        <mat-option [value]="'outdoors'">Outdoors</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

</ng-container>
