#info-card {
  padding-left: 0;
  padding-right: 0;

  mat-card-header{
    padding-left: 16px;
  }
}

mat-divider {
  position: relative !important;
  width: calc(100% + 36px) !important;
  margin: 0 -16px !important;
}

.section-header {
  padding: 12px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.image {
  object-fit: contain;
  width: calc(100% + 32px);
  height: 205px;
  margin: 0 -16px;
  background-color: #ececec;
  cursor: pointer;
}

.image-header {
  padding: 8px 0 4px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.properties-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  .item {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;

    .name {
      flex-grow: 1;
    }

    .value {
      color: #383838;
    }
  }
}
