<mat-card>
  <div class="row">
    <div class="section-header">Playback & Time Controls</div>
    <button mat-button (click)="isPlaybackChange.emit(!isPlayback)" style="text-align: start;">
      <ng-container [ngSwitch]="isPlayback">
        <ng-container *ngSwitchCase="true">
          <mat-icon style="margin-right: 4px;">pause_circle_outline</mat-icon>
          Pause playback
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <mat-icon style="margin-right: 4px;">play_circle_outline</mat-icon>
          Start playback
        </ng-container>
      </ng-container>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <div style="font-size: 14px; margin-left: 8px; margin-bottom: 2px">{{playbackRate}}x</div>
    <mat-slider
      style="width: 220px; margin-left: 8px;"
      [min]="0"
      [max]="60 * 60"
      [(value)]="playbackRate"
      (input)="playbackRateChange.emit($event.value)"
      [thumbLabel]="true">
    </mat-slider>
  </div>
  <div class="row">
    <mat-icon class="time-icon">access_time</mat-icon>
    <mat-slider
      style="flex-grow: 1"
      [min]="startTime?.getTime()"
      [max]="endTime?.getTime()"
      [value]="currentTime?.getTime()"
      (input)="currentTimeChange.emit(dateOf($event.value))">
    </mat-slider>
  </div>
  <div class="row" style="font-size: 14px; margin-left: 68px">
    <div>{{startTime | date:'yyyy-MM-dd h:mm a'}}</div>
    <div style="flex-grow: 1; text-align: center; font-weight: bold;">{{currentTime | date:'yyyy-MM-dd h:mm a'}}</div>
    <div>{{endTime | date:'yyyy-MM-dd h:mm a'}}</div>
  </div>
</mat-card>

<mat-expansion-panel [(expanded)]="isChartExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title [ngSwitch]="isChartExpanded">
      <div *ngSwitchCase="false">
        Data charts
      </div>
      <mat-form-field *ngSwitchCase="true" (click)="$event.stopPropagation()">
        <mat-label>Data charts</mat-label>
        <mat-select [(value)]="selectedChart">
          <mat-option *ngFor="let chart of charts" [value]="chart">
            {{chart.name}} chart
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-panel-title>
    <mat-panel-description>
      Time-series charts with altitude and environmental metrics
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <div class="chart-container">
      <app-chart [chartModel]="selectedChart" [currentTime]="currentTime"></app-chart>
    </div>
  </ng-template>
</mat-expansion-panel>
